<app-header></app-header>
<style>
  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 15px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  .about-section {
    padding: 50px;
  }

  .about-content {
    max-width: 800px;
    margin: 0 auto;
  }
</style>
<section class="about-section">
  <div class="about-content">
    <h2>About Us</h2>
    <p>
      Welcome to Clothing Store, your go-to destination for the latest fashion
      trends and high-quality clothing. We believe in providing our customers
      with stylish and comfortable clothing options for every occasion.
    </p>
    <p>
      Our mission is to make fashion accessible to everyone by offering a wide
      range of clothing at affordable prices. With a commitment to quality and
      customer satisfaction, we strive to create a unique shopping experience
      for you.
    </p>
    <p>Explore our collection and stay in vogue with Clothing Store!</p>
  </div>
</section>
<app-footer></app-footer>
